<!DOCTYPE html>
<html>
  <head>

    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p> Sanwu Luo </p>
    <p> Haolin Zhu </p>
    <p> David Oh </p>
    <p> Faiz Shamji </p>
    <p> Timothy Vincent </p>
  </body>
</html>
